<!DOCTYPE html>
<html>
  <head>
    <title><%= t('application.title') %></title>
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= render 'navigation/header' unless request.path == root_path  %>
      <main role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
